{% extends "base.html" %}
{% load static %}

{% block content_title %}{% endblock %}

{% block content%}



<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }}</h1>
<hr/>
{{ login_form }}
{{ register_form }}

<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">

	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
		
		<div>
			<td>Nom d'utilisateur : </td>
			<td>{{ form.username }}</td>
		</div>
		<div>
			<td>Mot de passe : </td>
			<td>{{ form.password }}</td>
		</div>

		<div>
			<button type="submit" value="Connexion"> {{ title }}</button>
			<input type="hidden" name="next" value="{{ next }}"/>
		</div>
	</form>
</div>



<!-- REGISTER FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" method="post" action="{% url 'register' %}">
			{% csrf_token %}
			
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_email" class="sr-only">E-mail</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="Votre e-mail">
					</div>
					<div class="form-group">
						<label for="reg_email_confirm" class="sr-only">Confirmation d'e-mail</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="Confirmez votre e-mail">
					</div>
					<div class="form-group">
						<label for="reg_username" class="sr-only">Nom d'utilisateur</label>
						<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="Entrez votre nom d'utilisateur">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Mot de passe</label>
						<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="Entrez votre mot de passe">
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Confirmation du mot de passe</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="Confirmez votre mot de passe">
					</div>
					<div class="form-group">
						<label for="reg_fullname" class="sr-only">Nom complet</label>
						<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="Votre nom et prénom">
					</div>

					<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_gender" id="male" placeholder="username">
						<label for="male">Homme</label>

						<input type="radio" class="" name="reg_gender" id="female" placeholder="username">
						<label for="female">Femme</label>
					</div>
				</div>
				<button type="submit" class="login-button"><i class="btn btn-warning"></i></button>
			</div>
			<div class="etc-login-form">
				<p>Déjà un compte ? <a href="#">Connectez-vous ici</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>


{% endblock %}