/* STYLE TOPANALYTICS */
/**********************/
/** FONTS **/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* line 21, sass/style.scss */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 28, sass/style.scss */
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5 !important;
  font-family: "Lato", sans-serif !important;
  overflow-x: hidden;
}

/* line 38, sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/** DASHBOARD **/
/* line 44, sass/style.scss */
#world-map {
  margin-bottom: 20px;
  margin-top: 48px;
}
/* line 47, sass/style.scss */
#world-map #main_map {
  min-height: 60vh;
}
/* line 50, sass/style.scss */
#world-map #map-only {
  min-height: 90vh;
}

/* line 55, sass/style.scss */
#map-info {
  width: 200px;
  margin: 0 auto;
  display: inline-block;
}
/* line 59, sass/style.scss */
#map-info h2 {
  font-size: 16px;
}

/* line 64, sass/style.scss */
.base-widget {
  background: white;
  -webkit-box-shadow: 0 1px 5px 0 rgba(10, 10, 10, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(10, 10, 10, 0.2);
  box-shadow: 0 1px 5px 0 rgba(10, 10, 10, 0.2);
  margin: 20px auto;
}
/* line 71, sass/style.scss */
.base-widget .widget-title {
  padding: 5px 20px;
}
/* line 73, sass/style.scss */
.base-widget .widget-title h2 {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-weight: 700;
}
/* line 80, sass/style.scss */
.base-widget .widget-title h2:before {
  content: '';
  display: block;
  background: orange;
  width: 10px;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 0;
}
/* line 92, sass/style.scss */
.base-widget .widget-content {
  padding: 20px;
}

/** LOADER **/
/* line 99, sass/style.scss */
.no-js #loader {
  display: none;
}

/* line 100, sass/style.scss */
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

/* line 101, sass/style.scss */
.loader-icon {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
/* line 110, sass/style.scss */
.loader-icon .map-marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #01adee;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
/* line 127, sass/style.scss */
.loader-icon .map-marker:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: white;
  position: absolute;
  border-radius: 50%;
}
/* line 137, sass/style.scss */
.loader-icon .pulsation {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  -webkit-transform: rotateX(55deg);
  transform: rotateX(55deg);
  z-index: -2;
}
/* line 149, sass/style.scss */
.loader-icon .pulsation:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  -webkit-animation: pulsanimation 1s ease-out;
  animation: pulsanimation 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px 2px #01adee;
  box-shadow: 0 0 1px 2px #01adee;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
@-webkit-keyframes pulsanimation {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes pulsanimation {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px) rotate(-45deg);
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px) rotate(-45deg);
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }
}
/** HEADER **/
/* line 253, sass/style.scss */
body {
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  white-space: normal;
}

/* line 261, sass/style.scss */
#header-site {
  background: white;
  float: left;
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(10, 10, 10, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(10, 10, 10, 0.2);
  box-shadow: 0 1px 5px 0 rgba(10, 10, 10, 0.2);
  text-align: center;
}
/* line 272, sass/style.scss */
#header-site .user-icon {
  display: inline-block;
  margin-top: 4px;
  margin-right: 5px;
}
/* line 276, sass/style.scss */
#header-site .user-icon svg {
  width: 15px;
  height: auto;
}
/* line 281, sass/style.scss */
#header-site .user-icon .user-name:focus {
  text-decoration: none;
}

/* line 287, sass/style.scss */
.logo-site {
  float: left;
  height: 40px;
  margin: 10px 0 0px 10px;
  width: 140px;
}

/* line 293, sass/style.scss */
.logo-site h1 {
  margin: 0;
}

/* line 296, sass/style.scss */
.logo-site h1 a {
  float: left;
  height: 30px;
  width: 160px;
  text-indent: -999px;
  background-image: url("../assets/img/logo.png");
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 150px;
}

/* Dropdown*/
/* line 308, sass/style.scss */
.top-nav {
  padding: 0 5px;
}
/* line 311, sass/style.scss */
.top-nav .dropdown-menu {
  z-index: 99;
  border: 0;
  top: calc( 100% + 12px );
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
@media screen and (max-width: 768px) {
  /* line 311, sass/style.scss */
  .top-nav .dropdown-menu {
    left: auto;
    right: 0;
  }
}

/* line 324, sass/style.scss */
.top-nav > li {
  display: inline-block;
  float: left;
}

/* line 328, sass/style.scss */
.top-nav > li > a {
  color: #444;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}
/* line 335, sass/style.scss */
.top-nav > li > a:hover {
  text-decoration: none;
}
/* line 339, sass/style.scss */
.top-nav > li > a img {
  margin-right: 5px;
}

/* line 343, sass/style.scss */
.top-nav .dropdown-menu .dropdown-menu-list {
  list-style: outside none none;
  padding-left: 0;
  padding-right: 0 !important;
}

/* line 348, sass/style.scss */
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
  border-radius: 4px 4px 0 0;
  display: block;
  letter-spacing: 0.5px;
  overflow: hidden;
  padding: 15px;
}

/* line 355, sass/style.scss */
.top-nav > li.dropdown-notification .dropdown-menu > li.external > h3 {
  display: inline-block;
  float: left;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

/* line 362, sass/style.scss */
.top-nav > li.dropdown-notification .dropdown-menu > li.external > a {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #888;
  clear: inherit;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  right: 10px;
}

/* line 375, sass/style.scss */
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
  background: #eaedf2 none repeat scroll 0 0;
}

/* line 378, sass/style.scss */
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list {
  list-style: outside none none;
}

/* line 381, sass/style.scss */
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a {
  clear: both;
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 16px 15px 18px;
  text-shadow: none;
  white-space: normal;
  border-bottom: 1px solid #eff2f6 !important;
}

/*Toggle Navigation design*/
/* line 395, sass/style.scss */
.navbar-default .navbar-toggle {
  border: none;
  display: none;
}

/* line 396, sass/style.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

@media (max-width: 768px) {
  /* line 401, sass/style.scss */
  .navbar-collapse {
    clear: both;
  }
}
@media screen and (max-width: 480px) {
  /* line 405, sass/style.scss */
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
/** LOGIN PAGE **/
/* line 412, sass/style.scss */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
}
@media screen and (max-width: 480px) {
  /* line 412, sass/style.scss */
  .login-container {
    margin: 25px 0;
  }
}

/* line 425, sass/style.scss */
.login-container {
  background: white;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}
/* line 431, sass/style.scss */
.login-container.register .login-left-block {
  height: auto !important;
}
/* line 436, sass/style.scss */
.login-container .login-left-block {
  background-image: url("../assets/img/login-left-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  height: 350px;
  padding: 20px 6px;
}
/* line 444, sass/style.scss */
.login-container .login-left-block .login-logo {
  display: block;
  height: 40px;
  width: 160px;
  text-indent: -999px;
  background-image: url("../assets/img/logo-white.png");
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 150px;
  margin: 15px auto 30px;
}
/* line 455, sass/style.scss */
.login-container .login-left-block p {
  color: white;
  font-family: "Lato", sans-serif;
  text-align: justify;
  font-size: 12px;
  padding: 5px;
}
/* line 464, sass/style.scss */
.login-container .login-tabs {
  margin-bottom: 50px;
  margin-left: -15px;
  margin-right: -5px;
}
/* line 468, sass/style.scss */
.login-container .login-tabs li {
  display: inline-block;
  width: 49%;
  list-style: none;
  display: inline-block;
  text-align: center;
  background: #F5F5F5;
  margin: 0;
  padding: 0;
}
/* line 477, sass/style.scss */
.login-container .login-tabs li a {
  color: #AAA;
  padding: 10px;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
/* line 488, sass/style.scss */
.login-container .login-tabs.Connexion .connexion-tab {
  background: white;
}
/* line 490, sass/style.scss */
.login-container .login-tabs.Connexion .connexion-tab a {
  color: #01adee;
}
/* line 496, sass/style.scss */
.login-container .login-tabs.Inscription .register-tab {
  background: white;
}
/* line 498, sass/style.scss */
.login-container .login-tabs.Inscription .register-tab a {
  color: #01adee;
}
@media screen and (max-width: 480px) {
  /* line 504, sass/style.scss */
  .login-container .login-tabs.Connexion {
    margin-left: 0 !important;
    margin-right: -16px !important;
  }
  /* line 507, sass/style.scss */
  .login-container .login-tabs.Inscription {
    margin-left: -20px !important;
    margin-right: 0px !important;
  }
}
/* line 513, sass/style.scss */
.login-container form {
  max-width: 80%;
  margin: 0 auto;
}
/* line 517, sass/style.scss */
.login-container form .btn {
  margin-top: 15px auto;
}

/* line 523, sass/style.scss */
.form-group {
  position: relative;
}
/* line 525, sass/style.scss */
.form-group label {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
/* line 530, sass/style.scss */
.form-group .input-block {
  position: relative;
}
/* line 532, sass/style.scss */
.form-group .input-block input {
  border: none;
  border-bottom: 1px solid #CCC;
  width: 100%;
}
/* line 537, sass/style.scss */
.form-group .input-block:after {
  content: '';
  background: #01adee;
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: -3px;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 548, sass/style.scss */
.form-group .input-block.focused:after {
  width: 100%;
}

/* line 555, sass/style.scss */
.etc-register-form {
  margin-top: 40px;
}

/* line 560, sass/style.scss */
.form-login-error ul.errorlist, .form-register-error ul.errorlist {
  padding: 0;
}
/* line 562, sass/style.scss */
.form-login-error ul.errorlist li, .form-register-error ul.errorlist li {
  list-style: none;
  color: red;
}

/** GLOBAL **/
/* BTN */
/* line 572, sass/style.scss */
.btn-outline {
  border: 2px solid #01adee;
  background: none;
  text-transform: uppercase;
  color: #01adee;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 578, sass/style.scss */
.btn-outline:hover {
  background: #01adee;
  color: white;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
/* line 588, sass/style.scss */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/** DATATABLES **/
/* line 599, sass/style.scss */
#data-table_filter input {
  border: 0;
  border-bottom: 2px solid #01adee;
}

/* line 605, sass/style.scss */
#data-table_paginate {
  margin-top: 15px;
}
/* line 607, sass/style.scss */
#data-table_paginate .paginate_button {
  background: white;
  border: 2px solid #01adee;
  font-size: 11px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 613, sass/style.scss */
#data-table_paginate .paginate_button:hover {
  background: #01adee;
  color: white !important;
}
/* line 617, sass/style.scss */
#data-table_paginate .paginate_button.current {
  background: #01adee;
  color: white !important;
}
/* line 621, sass/style.scss */
#data-table_paginate .paginate_button.disabled {
  cursor: not-allowed;
}
/* line 623, sass/style.scss */
#data-table_paginate .paginate_button.disabled.previous, #data-table_paginate .paginate_button.disabled.next {
  border-color: #57d0fe;
}
/* line 625, sass/style.scss */
#data-table_paginate .paginate_button.disabled.previous:hover, #data-table_paginate .paginate_button.disabled.next:hover {
  background: #57d0fe;
}

/* line 633, sass/style.scss */
#data-table_info {
  font-size: 11px;
  margin-top: 15px;
}

/** LEAFLETS **/
/* line 641, sass/style.scss */
.leaflet-popup {
  border-radius: 4px;
  min-width: 180px;
}
/* line 644, sass/style.scss */
.leaflet-popup img {
  border-radius: 50%;
  display: block;
  margin: 5px auto;
  margin-top: -30px;
  margin-bottom: -14px;
  border: 2px solid orange;
  max-width: 78.2px;
  max-height: 78.2px;
}
/* line 654, sass/style.scss */
.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 4px;
  text-align: center;
  position: relative;
}
/* line 659, sass/style.scss */
.leaflet-popup .leaflet-popup-content-wrapper span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
