{% extends "base.html" %}

{% block title %}
Utilisateurs en ligne
{% endblock %}


{% block content%}
<div id="user-container"></div>
{% endblock %}

{% block script %}
<script>

	(function poll() {
		var poll_interval = 15000;

		$.ajax({
			url:"/online-users-display",
			success: function(data){
				$('#user-container').html(data);
				console.log("refresh of users online");
				poll_interval = 15000;
			},
			error: function () {
				console.log("error");
				poll_interval = 20000;
			},
			complete: function () {
				setTimeout(function(){
						poll();
				}, poll_interval);
			}
		});
	}) ();
</script>
{% endblock %}
